<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kate 2048</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="../scripts/grid.js"></script>
    <script src="../scripts/gameField.js"></script>
    <script src="../scripts/input.js"></script>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/game.js"></script>
</head>
<body>

<header class="header">
    <h1 class="header__title">2048</h1>
    <div class="header__tables">
        <div class="header__counter score">
            <p class="header__counter__title">Score</p>
            <p class="header__counter__value">0</p>
        </div>
        <div class="header__counter best">
            <p class="header__counter__title">Best</p>
            <p class="header__counter__value">24641</p>
        </div>
    </div>
</header>
<div class="above-header">
    <h2>Education project</h2>
    <button>New game</button>
</div>
<main class="game-container" id="game-container">
</main>
</body>
</html>